<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.UI.Xaml" version="2.8.6" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1264.42" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SharpVectors.Wpf" version="1.8.4" targetFramework="net48" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net48" />
  <package id="SVGImage" version="3.0.0" targetFramework="net48" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="net48" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="net48" />
  <package id="Xamarin.FFImageLoading.Svg" version="2.4.11.982" targetFramework="net48" />
  <package id="Xamarin.FFImageLoading.Svg.Forms" version="2.4.11.982" targetFramework="net48" />
  <package id="Xamarin.Forms" version="3.3.0.912540" targetFramework="net48" />
</packages>